$subtitle-color: #5b5b5b;
$title-color: #3f3f3f;
$color-a: #22b8d9;
$color-b: #0de26f;
$color-button-backgroud: #f7f7f7;

.change__page_container{
  display: flex;
  justify-content: center;
  gap: 50px
}

.change__page_button{
  padding: 10px;
  border: none;
  text-align: center;
  height: 45px;
  background-color: $color-button-backgroud;
  margin-bottom: 15px;
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  font-weight: 400;
  color: $subtitle-color;
  letter-spacing: 3px;
}

.change__page_button:hover {
  transform: translateY(-3px);
  /* box-shadow: -5px 5px rgba(0, 0, 0, 0.2); */
  background-color: $color-b;
  color: white;
  cursor: pointer;
}
.change__page_p {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: $subtitle-color;
  letter-spacing: 4px;
}