@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap');

$subtitle-color: #5b5b5b;
$title-color: #3f3f3f;
$color-a: #22b8d9;
$color-b: #0de26f;

* {
  margin: 0;
  padding: 0;
}

.tutors__container {
  margin: 0px 7vw 40px;
  display: flex;
  flex-direction: column;
}

.categories__container {
  width: 100%;
  margin-bottom: 10px;
}

.tutors__title-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  color: $title-color;
  letter-spacing: 4px;
  margin: 50px 2vw 40px;
}

.tutors__subtitle {
  margin: 20px 5vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: $subtitle-color;
  letter-spacing: 4px;
}

@media (min-width: 992px) {
  .tutors__container {
    margin: 50px 25px 20px 25px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 500px;
  }

  .tutors__title-container {
    margin: 10px;
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  .categories__container {
    width: 90%;
    grid-column: 1;
    grid-row: 2 / span 2;
  }
}
@media (min-width: 1200px) {
  .tutors__container {
    margin: 50px 0px 20px 0px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px 650px;
  }

  .categories__container {
    width: 100%;
    margin: 0;
    height: 100%;
    grid-column: 1;
    grid-row: 2 / span 2;
  }
}
