@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$select-color: #0de26f;

.tray {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: 3px gray solid;
  width: 80vw;
  height: 180px;
  display: flex;
  font-family: 'Open Sans';
  cursor: pointer;
  user-select: none;
  color: #112031;
  margin: 10px;
}

.card:hover {
  border: 3px $select-color solid;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
}

.card-visual-info {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 30vw;
  height: 180px;
  img {
    width: 25vw;
    height: 100px;
    margin-top: 5px;
    object-fit: cover;
    border-radius: 50%;
  }
  h1 {
    font-size: 12px;
    text-align: center;
  }
}

.card-tutor-info {
  width: 50vw;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2 {
    font-size: 1rem;
    margin: 0;
    text-align: center;
  }
  h3 {
    font-size: 0.9rem;
    font-style: italic;
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 0.7rem;
    text-align: justify;
    margin-bottom: 5px;
    width: 43vw;
    height: 80px;
    overflow: hidden;
    text-overflow: hidden;


  }
}

.card-stars {
  width: 30vw;
  height: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffb319;
  margin-left: 25px;
}

.price{
  font-size: 20px !important;
  color: $select-color;
}

/* Tablets */

@media (min-width: 768px) {
  .card {
    width: 350px;
    height: 250px;
  }

  .card-visual-info {
    width: 150px;
    height: 250px;
    text-align: center;
    
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    h1 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.8rem;
      padding: 5px;
    }
  }

  .card-tutor-info {
    width: 200px;
    height: 250px;
    text-align: center;
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      font-size: 1.0rem;
    }
    p {
      width: 180px;
      height: 90px;
      font-size: 0.9rem;
    }
  }

  .card-stars {
    width: 80px;
    height: 30px;
  }
}

/* Monitores */
@media (min-width: 992px) {
  .card {
    width: 350px;
    height: 250px;
    padding: 5px;
  }

  .card-visual-info {
    width: 150px;
    height: 250px;
    img {
      width: 130px;
      height: 130px;
    }
    h1 {
      font-size: 1.0rem;
    }
    p {
      font-size: 1.0rem;
    }
  }

  .card-tutor-info {
    width: 190px;
    height: 250px;
    h2 {
      font-size: 1.3rem;
      width: 200px;
      height: 50px;
    }
    h3 {
      font-size: 1.1rem;
      width: 200px;
      height: 25px;
    }
    p {
      font-size:1rem;
      width: 200px;
      height: 135px;
    }
  }

  .card-stars {
    width: 100px;
    margin-left: 20px;
  }
}
