.error-page{
    h1{
        color: #22b8d9;
        font-style:bold;
        text-align: center;
        margin: 10px;
    }
    h2{
        color: #22b8d9;
        margin: 10px;
    }
    p{
        color: black;
        margin: 10px
    }
    img{
      width: 100vw;
    }
}



/* Tablets */

@media (min-width: 768px) {

  .error-page{
    display:flex;
    flex-direction: column;
      h1{
      margin: 10px;
      text-align: center;

      }
      h2{
        margin:10px;
      }
      p{
        margin: 10px;
      }
      img{
        width: 70vw;
        margin: auto
      }
  }


}
/* Monitores */

@media (min-width: 992px) {

  .error-page{
    display:flex;
    flex-direction: row;
    
      h1{
      margin: 5px;
      text-align: center;
      }
      h2{
        margin-left: 25px;
        
      }
      p{
        margin-left: 25px;
      }
      img{
        width: 40vw;
      }
  }

  .error-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}