$primary-color-dark: #1a90aa;
$primary-color: #22B8D9;
$secondary-color: #FFFFFF;
$secondary-color-dark: #d3d3d3;
$alpha-background: #55555555;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    color: $secondary-color;
    font-family: 'Open Sans', sans-serif;
}

.login-form-container{
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    width: 70vw;
    display: flex;
    flex-direction: column;
    border: 1px solid $primary-color;
    color: black;
    padding: 20px;
}

.login-form__legend{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
}

.login-login-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;  
    border: none;
    margin: 0;
}

.login-signup-fieldset{
    height: 20%;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.login-input-container{
    display: flex;
    flex-direction: column;
}

.login-form__submit{
    width: 100%;
    padding: 17px 0;
    color: $secondary-color;
    background-color: $primary-color;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
}

.login-form__submit:hover{
    background-color: $primary-color-dark;
    cursor: pointer;
}

.login-input__label{
    font-weight: bold;
    font-size: 20px;
}

.login-input__input{
    height: 40px;
    width: 100%;
    padding-left: 30px;
    justify-content: flex-start;
    font-size: 20px;
}

.input-container__input{
    display: flex;
}

.login-input__icon{
    align-self: center;
    position: absolute;
    margin-left: 10px;
    color: gray;
}

.signup__text{
    text-align: center;
    margin: auto;
}

@media screen and(min-width: 992px) {
    .login-form{
        width: 40vw;
    }   
    .signup__text{
        font-size: 25px;
    }
}

@media screen and(min-width: 1200px) {
    .login-form{
        width: 20vw;
    }   
    .signup__text{
        font-size: 25px;
    }
}